  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
        <img src="{{ .Site.Params.logo | relURL }}" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white"> {{.Site.Title}} </span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link text-white {{ if $currentPage.IsMenuCurrent "main" . }}active bg-gradient-primary{{ end }}" href="{{ .URL  }}">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                {{.Pre}}
              </div>
              <span class="nav-link-text ms-1">{{.Name}}</span>
            </a>
          </li>
          {{ with .Params.Heading }}
          <li class="nav-item mt-3">
            <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">{{.}}</h6>
          </li>
          {{ end }}
        {{ end }}

      </ul>
    </div>
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
      <div class="mx-3">
        <a class="btn bg-gradient-primary mt-4 w-100" href="https://www.creative-tim.com/product/material-dashboard-pro?ref=sidebarfree" type="button">Upgrade to pro</a>
      </div>
    </div>
  </aside>