      <footer class="footer py-4  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                {{.Site.Params.credits | safeHTML }}

              </div>
            </div>
            <div class="col-lg-6">
              <ul  class="nav nav-footer justify-content-center justify-content-lg-end">
        	    {{ range .Site.Menus.footer }}
                <li class="nav-item">
                  <a href="{{ .URL | relURL }}"  class="nav-link text-muted" target="_blank">{{ .Pre }} {{ .Name }}</a>
                </li>
              {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </footer>